$button-color: #248CEC
$hover-btn: #42A3FD
$modal-color-bg: #fff
$modal-header-text-color: #1B1B1B
$modal-inputs-bg: #F4F4F4
$modal-inputs-placeholder-text-color: #C6C6C6

$blur: blur(20px)
$overlay-index: 10
$modal-index: 20

$specify-header-text-color: #373737