// for btn
$color_btn: #248CEC
$color_btn-hover: #42A3FD
$font_btn: bold 1.125em 'Montserrat-Bold'

@mixin btn_style
    background-color: $color_btn
    border: none
    color: white
    font: $font_btn
    height: 3.3333em
    outline: none
    &:hover
        background-color: $color_btn-hover
    &:active
        background-color: $color_btn
    