@import _variable

.img-for-slider
    display: flex
    justify-content: space-between
    margin-top: 5em
    &__big-img
        background-position: center
        background-size: cover
        height: 22.125em
        width: 48.25em
        &:hover
            box-shadow: 0 0.25em 1.875rem rgba(17, 127, 229, .5)
            cursor: pointer
    &__wrp-small-img
        display: flex
        flex-direction: column
        justify-content: space-between
        width: 23.5em
    &__wrp-row-img
        display: flex
        justify-content: space-between
        height: 6.875em
        width: 23.5em
    &__small-img
        background-position: center
        background-size: cover
        height: 6.875em
        width: 11.125em
        &:hover
            cursor: pointer
            box-shadow: 0 0.25em 1.875rem rgba(17, 127, 229, .3)
    
.page_slider
    height: 100%
    width: 100%
    &--wrp
        height: 31.25em
        margin-top: 5em
        position: relative
        width: 100%
    &--prev_btn
        height: 2rem
        left: 1rem
        position: absolute
        top: 50%
        transform: translateY(-50%)
        width: 2rem
        svg
            cursor: pointer
            height: 100%
            opacity: 0.75
            width: 100%
    &--next_btn
        height: 2rem
        position: absolute
        right: 1rem
        top: 50%
        transform: translateY(-50%)
        width: 2rem
        svg
            cursor: pointer
            height: 100%
            opacity: 0.75
            width: 100%
    &-hidden
        display: none
    div
        background-position: center
        background-size: cover
        height: 100%
        width: 100%

.text_info
    &--header
        color: $modal-header-text-color
        font: bold 1.5rem Montserrat-Bold
        margin-top: 2em
        text-transform: uppercase
        width: 100%
    &--text
        font: 500 0.9375em Montserrat-Medium // font-size: 15px
        line-height: 1.76
        margin-top: 1.5rem
        overflow: hidden
        transition: 1s
        width: 100%
        &-full
            height: auto
            margin-top: -0.2rem
        &-small
            height: 0
    &--open_close
        color: $format-item-block-link-color
        cursor: pointer
        font: 500 1em Montserrat-Medium 
    &--hide_span
        display: none
    &--wrp_info_btn
        width: 100%
    &--btn
        background-color: $button-color
        border: none
        color: white
        font: bold 1.125em 'Montserrat-Bold'
        height: 3.5em
        margin-top: 2em
        outline: none
        width: 13em
        &:hover
            background-color: $hover-btn
        &:active
            background-color: $button-color  

.description-text
    border-bottom: 1px solid #EDEDED
    display: flex
    margin-top: 4.3125em // 69px
    padding-bottom: 1.5em
    width: 100%
    &:nth-child(6)
        margin-top: 4em
    &__key
        color: $parameter-name-color
        font: bold 0.9375em Montserrat-Bold // font-size: 15px
        width: 25%
    &__value
        color: $specify-header-text-color
        font: bold 0.9375em Montserrat-Bold // font-size: 15px
        width: 75%
    &__additiona-descr
        font: 500 1em Montserrat-Medium
        margin-top: 1em
        width: 83%
    &__map
        margin-top: 2em
        width: 100%
    .bold
        font: bold 0.9375em Montserrat-Bold // font-size: 15px
    
.no-margin-top
    margin-top: 0

.wrp-modal-slider
    // display: none
    height: 52rem // 823px
    left: 50%
    position: fixed
    top: 50%
    transform: translate(-50%, -50%)
    width: 75rem // 1200px
    z-index: 999
    .modal-slider__left-arrow
        cursor: pointer
        height: 4em
        left: 2em
        position: absolute
        top: 50%
        transform: translateY(-50%)
        width: 4em
        z-index: $modal-index + 5
    .modal-slider__right-arrow
        cursor: pointer
        height: 4em
        right: 2em
        position: absolute
        top: 50%
        transform: translateY(-50%)
        width: 4em
        z-index: $modal-index + 5
    .modal-slider__close-cross
        cursor: pointer
        height: 4em
        right: -4em
        position: absolute
        top: -4em
        width: 4em
        z-index: $modal-index + 5
    svg
        height: 100%
        opacity: .5
        width: 100%

.modal-slider
    border: 10px solid rgba(0, 0, 0, .5)
    border-radius: 5px
    height: 100%
    width: 100%
    z-index: $modal-index
    div
        height: 100%
        width: 100%
    img
        height: 100%
        width: 100%

.hide-modal-slider
    display: none

.margin_guids_title
    margin-top: 5rem

.wrp_guids
    // align-items: center
    display: flex

.guide_item
    font-size: 1rem
    margin-top: 1.5em
    width: 18.5625em // 297px
    &--img
        height: 18.5625em // 297px
        width: 100%
    &--guide_name
        color: $specify-header-text-color
        font: 800 1.5em Montserrat-ExtraBold // 24px
        margin-top: 1em
    &--guide_post
        color: $format-item-block-link-color
        font: 500 .9375em Montserrat-Medium // 15px
        margin-top: 1em
    &--guide_experience
        color: $format-item-block-link-color
        font: 500 .9375em Montserrat-Medium // 15px
        margin-top: .2em
    &--obout_guide
        color: $specify-header-text-color
        font: 500 .9375em Montserrat-Medium // 15px
        margin-top: 1em
    &:nth-child(2)
        margin: 1.5em 0 0 4.8125em // 24px 0 0 77px
        // margin-left: 4.8125em // 77px
    
.wrp_btn_about_tour
    display: flex
    justify-content: center
    margin-top: 6.0625em // 97px
    width: 100%

@media (max-width: 1279px) // to 1024
    .img-for-slider
        display: none
    .page_slider-hidden
        display: block

@media (max-width: 1023px) // to 768
    .page_slider
        &--wrp
            height: 20em
    .text_info
        &--wrp_info_btn
            text-align: center
    .description-text
        &__additiona-descr
            width: 100%
    
@media (max-width: 767px) // to 575px
    .page_slider
        &--wrp
            height: 17em
    .text_info
        &--header
            text-align: center
    .wrp_guids
        flex-wrap: wrap
        justify-content: center
    .guide_item
        &:nth-child(2)
            margin: 2em 0 0 0 // 32 px 0 0 0

@media (max-width: 574px) // to 414px
    .page_slider
        &--wrp
            height: 10em
            margin-top: 2em
    .text_info
        &--header
            font: bold 1.2rem Montserrat-Bold



    