@import _variable

.developering
    align-items: center
    display: flex
    // height: 100vh
    justify-content: center
    padding: 10em 0
    width: 100%
    &--wrp
        align-items: center
        display: flex
        flex-direction: column
        justify-content: center
    &__header
        font: bold 1em 'Montserrat-Bold'
        text-align: center
        text-transform: uppercase
        width: 100%
    &__mouse
        height: 150px
        margin-top: 3em
        width: 150px
    &__text
        font: bold 1em 'Montserrat-Bold'
        margin-top: 3em
        text-align: center
        width: 100%

