@import _variables

.main
    background-position: center center
    background-size: cover
    min-height: 600px
    height: 100vh
    transition: .5s
    width: 100%
    &--wrp_content
        align-items: center
        display: flex
        flex-direction: column
        justify-content: center
        min-height: 100vh
        &-hidden
            display: none
    &--title
        color: white
        font: 800 3em Montserrat-ExtraBold
        text-align: center
        text-transform: uppercase
    &--sub_title
        color: white
        font: 600 1.5em Montserrat-SemiBold
        line-height: 1.48
        margin-top: 2rem
        text-align: center
        max-width: 40rem
        width: 100%
    &--btn
        @include btn_style
        margin-top: 3rem
        width: 13em // 234px

@media (max-width: 1279px) // to 1024
    body::-webkit-scrollbar
        width: 0

@media (max-width: 767px) // to 575px
    .main
        &--title
            font-size: 1.5rem
        &--sub_title
            font-size: 1rem
            line-height: 1.2
            margin-top: 1rem
        &--btn
            margin-top: 1.5rem
        
@media (max-width: 574px) // to 414px
    .main
        &--title
            font-size: 1.2rem
        &--sub_title
            font-size: .9rem
        &--btn
            font-size: .9rem

@media (max-width: 359px) // to 320
    .main
        &--title
            font-size: 1rem
        &--sub_title
            font-size: .8rem
            margin-top: .75rem
        &--btn
            font-size: .75rem
            margin-top: 1rem



    

