@import _variables

.travel-format
    display: flex
    justify-content: center
    width: 100%
    &__wrap-content
        font-size: 1rem // <--- the main font-size ---
        width: 73em
    &__header
        font: bold 1.5em 'Montserrat-Bold'
        text-align: center
        text-transform: uppercase
        width: 100%
    &__wrap-format-items
        display: flex
        font-size: 1em
        justify-content: space-between
        margin: 4.5em 0 10.75em 0
        width: 100%

.format-item
    box-shadow: 0 .25em 1.875em rgba(0, 0, 0, .08)
    height: 31.1875em
    width: $width-format-item-block
    &__img
        height: $width-format-item-block / 1.6694
        width: $width-format-item-block
    &__header
        color: $specify-header-text-color
        font: bold 1em 'Montserrat-Bold'
        margin-top: 3.25em
        padding: 0 1em 0 2.25em
        text-align: left
        text-transform: uppercase
        width: 100%
    &__text
        color: $specify-text-color
        font: 500 0.875em Montserrat-Medium
        line-height: 1.64
        margin-top: 1.1429em
        padding: 0 1.1429em 0 2.5114em
        width: 100%
    &__link
        align-items: center
        display: flex
        justify-content: space-between
        margin: 3.75em 0 0 2.25em
        text-decoration: none
        width: 10em
        p
            color: $format-item-block-link-color
            font: 500 1em Montserrat-Medium

// @media (max-width: 1279px) // to 1024
//     .travel-format
//         &__wrap-content
//             font-size: .8rem // <------------ font-size for media
//         &__wrap-format-items
//             margin: 4.5em 0 5.5em 0

// @media (max-width: 1023px) // to 768
//     .travel-format
//         margin-top: 2em
//         &__wrap-content
//             font-size: .6rem // <------------ font-size for media
//     .format-item
//         &__link
//             width: 12em

// @media (max-width: 767px) // to 414
//     .travel-format
//         &__wrap-content
//             font-size: 1rem // <------------ font-size for media
//             width: 100%
//         &__wrap-format-items
//             align-items: center
//             flex-direction: column
//             justify-content: center
//             margin: 2em 0 1.5em 0
//     .format-item
//         height: 25em
//         margin-bottom: 1.5em
//         &__header
//             margin-top: 1em
//             padding: 0 1em 0 1em
//         &__text
//             margin-top: 0.75em
//             padding: 0 1em 0 1em
//         &__link
//             margin: 2em 0 0 1em
//             width: 10em

// @media (max-width: 413px) // to 375
//     .travel-format
//         margin-top: 2rem
//         &__wrap-content
//             font-size: .9rem // <------------ font-size for media
//         .format-item
//             &__link
//                 width: 11em
    
// @media (max-width: 374px) // to 360
//     .travel-format
//         &__wrap-content
//             font-size: .8rem // <------------ font-size for media

// @media (max-width: 359px) // to 320
//     .travel-format
//         &__wrap-content
//             font-size: .75rem // <------------ font-size for media
            
