@import _variables

.main
    background-position: center center
    background-size: cover
    height: 100vh
    min-height: 500px
    position: relative
    transition: .5s
    width: 100%
    &--wrp_content
        align-items: center
        display: flex
        flex-direction: column
        justify-content: center
        min-height: 100vh
        &-hidden
            display: none
    &--title
        color: white
        font: 800 3rem Montserrat-ExtraBold //48px
        text-align: center
        text-transform: uppercase
    &--sub_title
        color: white
        font: 600 1.5em Montserrat-SemiBold
        line-height: 1.48
        margin-top: 2rem
        text-align: center
        max-width: 40rem
        width: 100%
    &--btn
        background-color: #248CEC
        border: none
        color: white
        font: bold 1.125rem 'Montserrat-Bold' //20px
        height: 3.2em
        outline: none
        margin-top: 3em
        width: 13em // 234px
        &:hover
            background-color: #42A3FD
        &:active
            background-color: #248CEC

@media (max-width: 1279px) // to 1024
    body::-webkit-scrollbar
        width: 0

@media (max-width: 767px) // to 575px
    .main
        &--title
            // font-size: 1.5rem
        &--sub_title
            display: none
            // font-size: 1rem
            // line-height: 1.2
            // margin-top: 1rem
        &--btn
            // margin-top: 1.5rem
        
@media (max-width: 574px) // to 414px
    .main
        &--title
            font-size: 2.3em
        &--btn
            font-size: 1em

@media (max-width: 359px) // to 320
    .main
        // &--title
        //     font-size: 1rem
        // &--sub_title
        //     font-size: .8rem
        //     margin-top: .75rem
        // &--btn
        //     font-size: .75rem
        //     margin-top: 1rem



    

