@import _variables

.about_us
    padding-bottom: 4.5625rem
    padding-top: 4.5625rem
    width: 100%
    &--wrp_content
        align-items: center
        display: flex

.about_foundation
    display: flex
    flex-direction: column
    width: 35.5rem //568px
    &--title
        color: #1B1B1B
        font: bold 1.5em 'Montserrat-Bold' //24px
        text-align: left
        text-transform: uppercase
    &--sub_title
        color: #515151
        font: 500 0.9375em Montserrat-Medium //15px
        line-height: 1.76
        margin-top: 1.25em
    &--btn
        @include btn_style
        align-items: center
        display: flex
        justify-content: center
        margin-top: 2rem //32px
        text-decoration: none
        width: 16.25rem //260px

.about_us_img
    margin-left: 4rem //64px

@media (max-width: 767px) // to 575px
    .about_us
        padding-bottom: 0
        padding-top: 2rem
        &--wrp_content
            flex-wrap: wrap
            justify-content: center
            padding: 0 .5rem
        
    .about_foundation
        align-items: center
        width: 100%
        &--title
            text-align: center
            width: 100%
        &--sub_title
            text-align: justify
            width: 100%

    .about_us_img
        margin: 8rem 5rem
        
@media (max-width: 574px) // to 414px
    .about_us
        &--wrp_content
            padding: 0 .25rem

    .about_foundation
        &--title
            font-size: 1rem
        &--btn
            font-size: .9rem
            width: 14rem
        
    .about_us_img
        margin: 4rem 2rem
        width: 100%