@import _variable

.specificity
    display: flex
    justify-content: center
    padding-top: 8.125rem
    width: 100%
    &__wrap-content
        width: 73rem

.specify-item
    display: flex
    width: 67.75em
    &__img
        height: 22.5em
        min-width: 35.875em
    &__content
        width: 100%
    &__header
        color: $specify-header-text-color
        text-transform: uppercase
        font: 800 1.5em Montserrat-ExtraBold